{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF

# specify directory to install
cask_args appdir: "/Applications"

# install packages + some apps
brew "node"
brew "git"
brew "zsh"
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh-syntax-highlighting"
brew "starship"
brew "neovim"
brew "pnpm"
brew "yarn"
brew "lazygit"
brew "kubectl"

# Casks
cask "notion"
cask "postman"
cask "visual-studio-code"
cask "google-chrome"
cask "zoom"
cask "slack"
cask "ghostty"
cask "1password"
cask "todoist"
cask "webstorm"
cask "rider"
cask "nordvpn"
cask "tunnelblick"
cask "notion-calendar"
cask "openlens"

# 'vscode --install-extension'
vscode "GitHub.codespaces"

EOF
{{ end -}}